@model WorkFlowManager.Common.ViewModels.WorkFlowFormViewModel

<div class="panel panel-info">
    <div class="panel-heading">Task detail [ @Model.ProcessTaskName ]</div>
    <div class="panel-body">

        <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
            @Model.ProcessTaskName 
        </h4>
</div>
</div>