@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mehmet Alper KARAŞAHİN<br />
    <a href="mailto:alper.karasahin@hotmail.com">alper.karasahin@hotmail.com</a><br />
</address>

<address>
    <strong>Project Description Page : </strong><a href="https://medium.com/alperkarasahin/work-flow-engine-with-c-net-mvc-b8ef2f7ecbdf">https://medium.com/alperkarasahin/work-flow-engine-with-c-net-mvc-b8ef2f7ecbdf</a><br />
    <strong>Project Source Code : </strong> <a href="https://github.com/alperkarasahin/WorkFlowEngine">https://github.com/alperkarasahin/WorkFlowEngine</a>
</address>