
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="@Url.Action("Index", "WorkFlow")">
    <i class="fa fa-sitemap fa-3x"></i> <span>Work Flow Designer</span>
</a>

<hr />

<a href="@Url.Action("Task1Test", "TestWorkFlowProcess")">
    <i class="glyphicon glyphicon-play fa-3x"></i> <span>Task 1 Test</span>
</a>
