@model WorkFlowManager.Web.Models.WorkFlowTestModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="@Url.Action("Index", "WorkFlow")">
    <i class="fa fa-sitemap fa-5x"></i> <br />
    <span>Work Flow Designer</span>
</a>

<hr />

<a href="@Url.Action("GetProcess", "WorkFlowProcess", new { ownerId = Model.masterTestId, taskName="Driving License Application Flow"  })">
    <i class="glyphicon glyphicon-play fa-5x"></i> <br />
    <span>Task 1 Test</span>
</a>
