@model WorkFlowManager.Common.ViewModels.FileUpload



<script id="@Model.TemplateId" type="text/x-kendo-template">
    <div class="alert alert-info">
        <button type="button" class="close k-upload-action k-button k-button-bare"><span class="k-icon k-i-close k-delete" title="Sil"></span>×</button>
        @{
            var fileDownloadLink = Url.Action("Download", "File", new
            {
                fileName = "_FILENAME_",
                ownerId = Model.OwnerId,
                belgeTuru = Model.FileType
            });

            fileDownloadLink = fileDownloadLink.Replace("_FILENAME_", "#=name#");
        }
        <a href='@fileDownloadLink' title="İndir"><i class="fa fa-download" /></i></a>
        <div class="row">
            <div class="col-md-12">
                <i style='float:left;margin-right:5px;' class="fa #=$WF.AddExtensionClass(files[0].extension)# fa-3x"></i>
                <h6> <span class="k-filename" title="#=name#">#=name#</span> (#=size# bytes)</h6>
            </div>
        </div>
    </div>
</script>


<div class="k-content">
    @(Html.Kendo().Upload()
        .Name(Model.ComponentName)
        .HtmlAttributes(new { name = "files" })
        .TemplateId(@Model.TemplateId)
        .Async(a => a
            .Save("Save", "File", new { ownerId = Model.OwnerId, belgeTuru = Model.FileType })
            .Remove("Remove", "File", new { ownerId = Model.OwnerId })
            .AutoUpload(true)
        )
        .Messages(m => m.Select("Select..."))
        .Events(events => events
            .Upload(@<text>
            function(e) {
            var files = e.files;

            $.each(files, function () {
            if (
            this.extension.toLowerCase() != ".doc" && this.extension.toLowerCase() != ".docx" &&
            this.extension.toLowerCase() != ".xls" && this.extension.toLowerCase() != ".xlsx" &&
            this.extension.toLowerCase() != ".pdf"
            )
            {
            alert("Sadece word, excel ya da pdf formatında dosyaları yükleyebilirsiniz!")
            e.preventDefault();
            }

            if (this.size / 1024 / 1024 > 5) {
            alert("Dosya boyutu 5 MB dan büyük olmamalı!")
            e.preventDefault();
            }
            });
            }
            </text>
            )
            .Success(@<text>
                function(e) {
                }
            </text>)
            .Remove(@<text>
    function(e) {
    if(!confirm("Dosyayı silmek istediğinize emin misiniz?")){
    e.preventDefault();
    }
    }
            </text>
            )
            .Select(@<text>
                function(e) {
                var selected = e.files;
                var filesInList = $(".k-upload-files .k-filename");

                for (var i = 0; i < selected.length; i++) {
                var filename = selected[i].name;

                filesInList.each(function () {
                if ($(this).text() === filename) {
                e.preventDefault();
                alert(filename + ' dosyası zaten sisteme yüklenmiş. Önce eski dosyayı silin ve işlemi tekrar edin.');
                }
                });
                }
                }
            </text>
            )
        )
        .Files(files =>
        {
            foreach (var f in Model.FileList.Where(t => t.FileType == Model.FileType))
            {
                files.Add().Name(f.FileName).Extension(f.Extension).Size(f.Size);
            }
        }
        )

    )
    <p class="help-block">You can upload more than one file which Word, excel, pdf format.</p>
</div>